<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <section>
        <h1>Rugved Chavan<br>AI based Portfolio  😎</h1>
        <p>Touch/Click anywhere and Say 'Hi Assistant' to start</p>
        <div class="container">
          <div class="texts">
          </div>
        </div>
      </section>

      Select Voice: <select id='voiceList'></select> <br><br>
     <!-- partial -->
     
<script src="/static/java.js"></script>
</body>
</html>